    {% include 'header.html' %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">SISTEM CERDAS BERBASIS WEBSITE DENGAN METODE NAIVE BAYES UNTUK ANALISIS SENTIMEN PADA TWITTER TERKAIT KINERJA PSSI</h1>
        </div>

        <!-- Content Row -->
        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Harap Di Baca Terlebih Dahulu</h6>
            </div>
            <div class="card-body">
                <p>1. Website ini menampilkan Hasil Sentimen tentang PSSI</p>
                <p>2. Data yang diambil dari Twetter dan Facebook</p>
                <p>3. Pengguna bisa mengetes tweet apakah POSITIF/NEGATIF/NETRAL pada fitur tes</p>
                
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

</body>
</html>
