{% include 'headerAdmin.html' %}

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">SISTEM CERDAS BERBASIS WEBSITE DENGAN METODE NAIVE BAYES UNTUK ANALISIS SENTIMEN PADA TWITTER TERKAIT KINERJA PSSI</h1>
  </div>

  <!-- Content Row -->
  <!-- Approach -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Harap Di Baca Terlebih Dahulu</h6>
      </div>
      <div class="card-body">
          <p>1. Website admin ini untuk kelola user dan mengecek tes tweet</p>
          <p>2. Pada fitur kelola user untuk menambahkan username password user dan admin</p>
          <p>3. Admin bisa mengetes tweet apakah POSITIF/NEGATIF/NETRAL pada fitur tes</p>
          
      </div>
  </div>
  <!-- /.container-fluid -->
</div>


<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script
  src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script
  src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

<!-- Page level custom scripts -->
<!-- <script src="{{ url_for('static', filename='js/demo/chart-bar-demo.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script> -->
</body>

</html>